In [2]:
#1
a = [[[1,3],[3,4]],[5,[5,6],[7,8]]]
a[1][1][1]

6

In [3]:
#2
man1 = ["teerawat","raksiam",16]
man2 = ["kanasorn","poomisirisawat",23]
man3 = ["john","wick",32]
man4 = ["nacky","chotiwat",29]
man_all=[man1,man2,man3,man4]
man_all

[['teerawat', 'raksiam', 16],
 ['kanasorn', 'poomisirisawat', 23],
 ['john', 'wick', 32],
 ['nacky', 'chotiwat', 29]]

In [4]:
#3
del man_all[3]
man_all

[['teerawat', 'raksiam', 16],
 ['kanasorn', 'poomisirisawat', 23],
 ['john', 'wick', 32]]

In [5]:
#4
man_all.insert(0, ["Nonlap","tarkarn",20])
man_all

[['Nonlap', 'tarkarn', 20],
 ['teerawat', 'raksiam', 16],
 ['kanasorn', 'poomisirisawat', 23],
 ['john', 'wick', 32]]

In [7]:
man_all.append(['nacky', 'chotiwat', 29])
man_all

[['Nonlap', 'tarkarn', 20],
 ['teerawat', 'raksiam', 16],
 ['kanasorn', 'poomisirisawat', 23],
 ['john', 'wick', 32],
 "['nacky', 'chotiwat', 29]",
 ['nacky', 'chotiwat', 29]]

In [12]:
#5
man1[2]=26

In [13]:
man_all

[['Nonlap', 'tarkarn', 20],
 ['teerawat', 'raksiam', 26],
 ['kanasorn', 'poomisirisawat', 23],
 ['john', 'wick', 32],
 "['nacky', 'chotiwat', 29]",
 ['nacky', 'chotiwat', 29]]